spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  mongodb:
    uri: ${MONGO_URI}
    database: userdb


server:
    port: 8082


management:
  endpoints:
    web:
      exposure:
        include: "*"

  tracing:
    sampling:
      probability: 1.0