spring:
  application:
    name: order-service
  h2:
    console:
      enabled: true
    datasource:
      url: jdbc:h2:mem:testdb
    jpa:
      show-sql: true
      hibernate:
        ddl-auto: create-drop


server:
  port: 8083